@{
    Layout = null;
}
<main class="mt-5 flex h-full w-full flex-col items-center gap-5">
<h1 class="text-center text-5xl text-black">
    Bienvenue dans le Jeu Dechiffre
</h1>
<div class="flex w-full justify-center">
        <div class="flex w-full justify-center">
            <a href="#!/start" class="flex h-10 w-60 items-center justify-center rounded-2xl border border-sky-500 bg-sky-500 text-white">
                Generer le Nombre
            </a>
        </div>
</div>
</main>